{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "react", "jsx-a11y", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": ["off"],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["*.config.ts"] }
    ],
    "import/prefer-default-export": "off",
    "@typescript-eslint/naming-convention": ["off"],
    "jsx-a11y/label-has-associated-control": [2, {
      "assert": "either" // to allow for either nested or htmlFor
    }]
  },
  "ignorePatterns": [
    "*.js",
    // "*.page.route.*"
  ],
  "settings": {
    "react": {
      "version": "17.0.2"
    }
  }
}
